body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  overflow: auto;
}

@keyframes introMain{
    from{
        opacity: 0;
        left: 20%;
    }
    to{
        opacity: 1;
        left: 50%;
    }
}

.mainContainer{
    display: flex;
    flex-direction: column;
    background: #48CBF7;
    background: linear-gradient(180deg,rgba(72, 203, 247, 1) 0%, rgba(0, 191, 255, 1) 54%, rgba(0, 149, 199, 1) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 65vh;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0.6);
    animation: introMain 1s ease ;
    z-index: 1;
    overflow: auto;
}

.searchSection{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    height: 70%;
}

.nombreCiudad{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    font-size: x-large;
}

.tempeture{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    font-size: 300%;
}

.description{
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
}

.moreInfo{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.forecastContent{
    background: #cccccc;
    background: linear-gradient(180deg, rgba(204, 204, 204, 1) 0%, rgba(232, 232, 232, 1) 82%, rgba(255, 255, 255, 1) 100%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4vw;

    top: 75%;
    left: 50%;
    width: 40vw;
    height: 20vh;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0.6);
    animation: introMain 1s ease ;
    z-index: 0;
    overflow:auto;
    transition: all 0.2s;
}

.forecastContent:hover{
    top: 88%;
}


.dayStyle{
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
